p1 {
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        color: black;
}

h2 {
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem;
        color: black;
}


body {
    padding: 20px 10%;
}


address {

    font-family: "Inter",sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    margin: 50px 0px 0px 0px;
    color: black;
}


